OPENAI_API_KEY = "YOUR OPENAI API KEY HERE"
SQLITE_DB_PATH = '/Users/YOUR USERNAME HERE/Projects/second-brain/embeddings_db.sqlite'
LOGSEQ_FOLDER = '/Users/YOUR USERNAME HERE/Library/Mobile Documents/iCloud~com~logseq~logseq/Documents/pages'